body {
    font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: 0;
}
.navbar-horizontal {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgb(68, 68, 68);
}
.navbar-horizontal strong {
    font-size: 2rem;
    color: #e94560;
}

.container {
    margin-left: auto;
    margin-right: auto;
}
.container h2 {
    width: max-content;
    border-bottom: 5px solid #ac3045;
}

input[type='text'],
select,
textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type='submit'] {
    display: flex;
    justify-content: start;
    background-color: #e94560;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

input[type='submit']:hover {
    background-color: #ac3045;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
