body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.navbar-horizontal {
    display: flex;
    position: sticky;
    justify-content: space-around;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: rgb(68, 68, 68);
}
.navbar-horizontal strong {
    font-size: 2rem;
    color: #e94560;
}
input[type='text'],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type='submit'] {
    display: flex;
    justify-content: start;
    background-color: #e94560;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}

input[type='submit']:hover {
    background-color: #ac3045;
}
.container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.socials-container {
    padding: 2rem 1rem;
}
.socials-container ul li {
    list-style: none;
}
#navbar-btn {
    padding: 0px 2px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #000;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
    cursor: pointer;
}
#text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
/* Navbar Page */
.navbar-lists {
    display: flex;
    justify-content: center;
}
.navbar-list-seperator {
    width: 100%;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
}
.navbar-lists ul {
    list-style-type: none;
}
.navbar-lists li {
    margin-bottom: 10px;
}
.navbar-lists a {
    text-align: center;
    text-decoration: none;
    color: azure;
    text-decoration: none;
    font-size: 2.5rem;
    padding: 2px;
    margin-bottom: 50px;
    font-weight: bold;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
}
.navbar-lists a:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    color: #e94560;
}
